{
  "OrgAdminsFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev",
    "USER_POOL_ID": "<your-dev-user-pool-id>"
  },
  "ManagersFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev",
    "USER_POOL_ID": "<your-dev-user-pool-id>"
  },
  "OrganizationsFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "EmployeesFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev",
    "USER_POOL_ID": "<your-dev-user-pool-id>"
  },
  "ProfileFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev",
    "USER_POOL_ID": "<your-dev-user-pool-id>"
  },
  "OrgAdminOrganizationFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "ManagerEmployeesFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev",
    "USER_POOL_ID": "<your-dev-user-pool-id>"
  },
  "ManagerProfileFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev",
    "USER_POOL_ID": "<your-dev-user-pool-id>"
  },
  "ManagerLocationsFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "ManagerShiftsNeededFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "OrgAdminLocationsFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "ImpersonateFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev",
    "USER_POOL_ID": "<your-dev-user-pool-id>"
  },
  "WebAdminEmployeesFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "ManagerLocationsAssignFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "EmployeeLocationsAssignFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "EmployeeProfileFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev",
    "USER_POOL_ID": "<your-dev-user-pool-id>"
  },
  "EmployeeAvailabilityFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "EmployeeAvailabilityOverridesFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "ManagerShiftsFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "ManagerScheduleFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "OrgAdminShiftsFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "EmployeeShiftsFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "NotificationsFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "WebAdminProfileFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev",
    "USER_POOL_ID": "<your-dev-user-pool-id>"
  },
  "WebAdminGenerateDummyDataFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "EmployeeAvailableShiftsFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "EmployeeSwapShiftsFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  },
  "HealthFunction": {
    "TABLE_NAME": "daltime-daltime-backend-dev"
  }
}
