@if (status() !== 'DISABLED') {
  @if (layout() === 'card') {
    <div class="flex gap-2">
      <app-button
        class="flex-1"
        variant="primary-outline"
        size="sm"
        testId="edit-btn"
        (clicked)="editRequested.emit()"
        >Edit</app-button
      >
      <app-button
        class="flex-1"
        variant="danger-outline"
        size="sm"
        testId="disable-btn"
        (clicked)="disableRequested.emit()"
        >Disable</app-button
      >
    </div>
  } @else {
    <app-button
      class="mr-1"
      variant="primary-outline"
      size="sm"
      testId="edit-btn"
      (clicked)="editRequested.emit()"
      >Edit</app-button
    >
    <app-button
      variant="danger-outline"
      size="sm"
      testId="disable-btn"
      (clicked)="disableRequested.emit()"
      >Disable</app-button
    >
  }
} @else {
  <app-button
    [fullWidth]="layout() === 'card'"
    variant="primary-outline"
    size="sm"
    testId="enable-btn"
    (clicked)="enableRequested.emit()"
    >Enable</app-button
  >
}
