<!-- Disable Confirmation Modal -->
<app-confirmation-modal
  [open]="showDisableModal()"
  [title]="'Disable ' + entityLabel()"
  confirmLabel="Disable"
  confirmVariant="danger"
  [saving]="saving()"
  (confirmed)="disableConfirmed.emit()"
  (cancelled)="disableCancelled.emit()"
>
  <p>
    Are you sure you want to disable
    <strong [attr.data-testid]="'disable-' + testIdPrefix() + '-name'"
      >{{ disablingEmployee()?.first_name }} {{ disablingEmployee()?.last_name }}</strong
    >
    (<span [attr.data-testid]="'disable-' + testIdPrefix() + '-email'">{{
      disablingEmployee()?.email
    }}</span
    >)?
  </p>
  <p class="text-gray-500 mb-0">This will prevent them from signing in. Their data is preserved.</p>
</app-confirmation-modal>

<!-- Enable Confirmation Modal -->
<app-confirmation-modal
  [open]="showEnableModal()"
  [title]="'Enable ' + entityLabel()"
  confirmLabel="Enable"
  confirmVariant="primary"
  [saving]="saving()"
  (confirmed)="enableConfirmed.emit()"
  (cancelled)="enableCancelled.emit()"
>
  <p>
    Are you sure you want to re-enable
    <strong [attr.data-testid]="'enable-' + testIdPrefix() + '-name'"
      >{{ enablingEmployee()?.first_name }} {{ enablingEmployee()?.last_name }}</strong
    >
    (<span [attr.data-testid]="'enable-' + testIdPrefix() + '-email'">{{
      enablingEmployee()?.email
    }}</span
    >)?
  </p>
  <p class="text-gray-500 mb-0">This will restore their ability to sign in.</p>
</app-confirmation-modal>
