<div class="profile">
  <h1>Managers</h1>

  <div *ngIf="loading">Loading managers...</div>
  <div *ngIf="error">{{ error }}</div>

  <div *ngIf="managers">
    <h2>Current Managers</h2>
    <ul>
      <li *ngFor="let manager of managers.currentManagers">
        {{ manager.firstName }} {{ manager.lastName }} - {{ manager.email }}
      </li>
    </ul>

    <h2>Available Managers</h2>
    <ul>
      <li *ngFor="let manager of managers.availableManagers">
        {{ manager.firstName }} {{ manager.lastName }} - {{ manager.email }}
      </li>
    </ul>
  </div>
</div>
